.customStatus-1COQYu {
  overflow: auto;

  &::-webkit-scrollbar {
    height: 4px;

    &-track {
      border-radius: 4px;
      margin-right: 15px;
      background-color: rgba(0, 0, 0, 0.15);
    }

    &-thumb {
      border-radius: 4px;
      background-color: var(--header-secondary);
    }
  }

  > span {
    // Tested this, it indeed only works for too-long statuses
    padding-right: 15px;
  }
}