.customStatus-oN4ZZY {
  display: flex;

  > .customStatusEmoji-3a2-Zo {
    width: 100px;
    height: 100px;
    margin-top: 8px;
  }

  > .customStatusText-1vtUsN {
    margin: auto; // Classic
    max-width: 150px;
    text-align: center;
  }
}