.reactionTooltip-3pvwwY {
  .reactionTooltipContent-2TwEIL {
    display: block;
    text-align: center;
  }

  .reactionTooltipEmoji-3LG0v8.emoji {
    height: 110px;
    width: 100%;
    display: block;
    margin-bottom: 9px;
  }
}