#status-picker {
  .mask-1qbNWk {
    height: 75%;
    width: 75%;
    margin-left: 33%;
  }

  .separator-2I32lJ,
  .description-2L932D {
    display: none;
  }

  > .scrollerBase-289Jih {
    display: grid;
  }

  .item-1tOPte {
    &:active,
    &.focused-3afm-j {
      .status-1AY8sU {
        background-color: white !important;
      }
    }

    &:not(#status-picker-custom-status) {
      &:active {
        filter: brightness(85%);
        background-color: var(--status-colour);
      }

      .status-1fhblQ {
        display: none;
      }
    }

    &.focused-3afm-j {
      &:not(#status-picker-custom-status) {
        background-color: var(--status-colour);
      }
    }
  }
}

#status-picker-custom-status {
  grid-column: 1/5;
}

#status-picker-dnd {
  --status-colour: var(--kds-dnd-colour);
}

#status-picker-idle {
  --status-colour: var(--kds-idle-colour);
}

#status-picker-online {
  --status-colour: var(--kds-online-colour);
}

#status-picker-invisible {
  --status-colour: var(--kds-invisible-colour);
}