#status-picker-dnd {
  --status-colour: var(--kds-dnd-colour);
}

#status-picker-idle {
  --status-colour: var(--kds-idle-colour);
}

#status-picker-online {
  --status-colour: var(--kds-online-colour);
}

#status-picker-invisible {
  --status-colour: var(--kds-invisible-colour);
}