@use '../../../helpers/functions' as *;
@use '../../../helpers/keyframes' as *;
@use '../../../helpers/variables' as vars;

// Warning: the following code is a bit hacky!
// References: https://jsfiddle.net/tvsgoaj9/2/

.tutorialContainer-2sGCg9 {
  .childWrapper-anI2G9 {
    clip-path: circle(50% at center); // Remove blurple edges on select

    &::before {
      content: '';
      height: 100%;
      width: 100%;
      background: vars.$home-icon-background center/100% no-repeat;
    }

    .homeIcon-FuNwkv {
      width: 30px;
      height: 30px;
      position: absolute; // Make sure it stays put when hovered
      color: get-colour('light-grey');
    }
  }

  // Only animate the background on hover and selection
  .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9::before {
    animation: rotation 10s linear infinite;
  }
}