@use '../../../helpers/variables' as *;

.splashBackground-1FRCko {
  .image-2jyRAK {
    &.loaded-3PtF_J {
      content: $login-background;
    }
  }

  .canvas-3XuBXe,
  .fallbackImage-31Sk4m.visible-JD5pR1 {
    // Removes practically impossible to theme splash on side
    display: none;
  }
} 