#app-mount {
  .pageWrapper-1PgVDX {
    background-color: var(--background-primary);
  }

  .categoryItem-1QIroW {
    color: var(--kds-almost-cyan);
  }

  .selectedCategoryItem-FHKU_o {
    color: var(--interactive-active);

    > .itemInner-gPkiWb {
      background-color: rgb(4, 20, 69, 0.65); // Really
    }
  }

  .discoverHeader-Ijkm_M {
    color: var(--kds-settings-smaller-header);
  }

  .guildListSection-2CS8vH {
    .card-3DjzTQ {
      box-shadow: 0 0 0 1px black;
    }

    > .wrapper-1sSZUt {
      color: var(--kds-category-name);
    }
  }
}