.autocomplete-1vrmpx {
  @at-root #app-mount & {
    background-color: var(--background-secondary-alt);
  }

  .selected-1Tbx07 {
    background-color: var(--background-primary);
  }

  .categoryHeader-O1zU94 {
    border-radius: 0 0 4px 4px;
    background-color: var(--background-tertiary);
  }

  .option-1B5ZV8 {
    background-color: var(--background-tertiary);
  }

  .active-2awTSY {
    background-color: var(--kds-darker-reply-content) !important;
  }
}