#app-mount {
  .categoryFadeBlurple-1j72_A {
    background-color: rgba(var(--kds-almost-cyan-rgb), 0.5);
  }

  .emptyHintCard-2mUdMe {
    background-color: rgba(var(--kds-greyish-blue-rgb), 0.35);
  }

  .result-3w1ZcL {
    &:hover {
      &::after {
        box-shadow: 0 0 0 2px var(--kds-almost-cyan) inset,
                    0 0 0 3px var(--background-primary) inset;
      }
    }

    &[style*='background-color'] {
      background-color: rgb(0, 10, 45) !important;
    }

    &[style*='rgb(24, 25, 28)'] {
      background-color: var(--background-tertiary) !important;
    }
  }
}

.gifFavoriteButton-3Zycl7 {
  color: var(--interactive-normal);

  &:hover,
  &.selected-1mBDsA {
    color: var(--interactive-hover);
  }

  &::after {
    border-color: var(--kds-mango-yellow);
  }
}