#app-mount {
  .contentWarningPopout-n5JsIs {
    box-shadow: 0 2px 5px 0 var(--background-tertiary);
    background-color: var(--background-secondary-alt);

    .icon-2RSfUw {
      path {
        fill: var(--kds-almost-cyan);
      }
    }

    > .footer-3N9rgh {
      background-color: var(--background-secondary);

      > .colorStandard-2KCXvj {
        color: deeppink;
      }
    }
  }
}