#app-mount {
  .container-2x5lvQ {
    box-shadow: 0 0 10px 2px var(--background-secondary-alt);

    .header-2C89wJ {
      background-color: var(--background-tertiary);
    }

    section {
      background-color: var(--background-secondary-alt);
    }
  }
}