@use '../../../helpers/variables' as *;

.scroller-3__pG8 {
  box-shadow: $modal-box-shadow;
  background-color: var(--background-secondary);

  .title-2_aCTw {
    color: var(--kds-category-name);
  }

  .button-3k0cO7 {
    background-color: var(--background-modifier-selected);

    &:hover {
      color: var(--kds-mango-yellow);
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}