.theme-light {
  // Template buttons
  .container-UC8Ug1 {
    border-color: black;
    background-color: var(--kds-message-hover);

    &:hover {
      background-color: var(--background-modifier-selected);
    }
  }

  .sampleLink-2NLvZg {
    color: deeppink;
  }

  .footer-2gL1pp {
    border-top: 1.5px solid black;

    .sizeMin-1mJd1x {
      color: var(--kds-number);
    }
  }

  .footerTitle-2CYZch {
    color: var(--kds-almost-cyan);
    margin-bottom: 16px; // Fixes blurriness and eases cramp
  }

  // Join a Server - footerButton part is necessary
  .footerButton-ayFTfX{
    &.lookFilled-1Gx00P {
      box-shadow: 0 0 0 1px black;
      background-color: var(--kds-message-hover);

      &:hover {
        color: var(--kds-mango-yellow);
        background-color: var(--toast-box-shadow) !important; // Pain

        &::after,
        &::before {
          content: 'bruh'; // Hehe
        }
      }
    }
  }

  // Customize your server - upload icon
  .uploadIcon-2IFzZU {
    circle {
      fill: var(--kds-settings-smaller-header);
    }
  }
}