.theme-light {
  // Template buttons
  .container-UC8Ug1 {
    border-color: black;
    background-color: var(--kds-message-hover);

    &:hover {
      background-color: var(--background-modifier-selected);
    }
  }

  .sampleLink-2NLvZg {
    color: deeppink;
  }

  .footer-2gL1pp {
    border-top: 1px solid black;

    // Back button
    .sizeMin-1mJd1x {
      color: var(--kds-number);
    }
  }

  // "Have an invite already?"
  .footerTitle-2CYZch {
    color: var(--kds-almost-cyan);
    margin-bottom: 16px; // Eases blurriness, dunno why
  }

  .footerButton-ayFTfX {
    &.lookFilled-1Gx00P {
      box-shadow: 0 0 0 1px black;
      background-color: var(--kds-message-hover);

      &:hover {
        @at-root #app-mount & {
          color: var(--kds-mango-yellow);
          background-color: var(--toast-box-shadow); 
        }

        &::after,
        &::before {
          content: 'bruh';
        }
      }
    }
  }

  // Customise your server
  .uploadIcon-2IFzZU {
    circle {
      fill: var(--kds-settings-smaller-header);
    }
  }
}