.root-1gCeng {
  > .scroller-1-nKid {
    width: auto;
    background-color: var(--background-secondary-alt);

    .size14-e6ZScH {
      padding-right: 4px;
    }
  }

  > .reactors-Blmlhw {
    width: 85%;
    background-color: inherit;
  }

  .reactionDefault-GBA58K {
    &:hover {
      background-color: var(--background-modifier-hover);
    }
  }

  .reactionSelected-1pqISm {
    background-color: var(--background-primary);
  }

  .reactor-3UBcOI {
    box-shadow: none;
  }
}