@use '../../../helpers/variables' as *;

.filename-ovv3c5 {
  color: var(--kds-number);
  margin-bottom: 6px;
}

#app-mount {
  .footer-3mqk7D {
    box-shadow: none;
    background-color: var(--background-secondary-alt);
  }

  // Have this under app-mount so it works for drag drop modal
  .icon-kyxXVr {
    &:not(.image-2yrs5j) {
      filter: invert(0.95); // Thanks D Mack#4481!
    }
  }

  // Regular upload modal
  .uploadModal-2ifh8j {
    box-shadow: $modal-box-shadow;
    background-color: var(--background-primary);

    // Add a comment
    .scrollableContainer-2NUZem {
      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.3);
      transition: 0.2s ease-in-out;
      transition-property: border-color, background-color;

      // Mimic Discord's behaviour
      &:hover {
        border-color: rgb(4, 4, 5);
        background-color: rgb(3, 12, 31);
      }
    }
  }

  // Section below: drag and drop upload modal
  .bgScale-1otPtc {
    background-color: var(--background-primary);
  }

  .inner-3nWsbo {
    border-color: var(--kds-almost-cyan);
  }

  .uploadDropModal-2kTwbc {
    // "Upload to"
    .title-2Vtl4y {
      color: var(--kds-category-name);
    }

    // Channel name
    strong {
      color: var(--interactive-active);
    }

    .instructions-2Du9gG {
      color: var(--header-primary);
    }
  }
}