.emojis-3mSQwp {
  .emojiSad-1iG7c0 {
    background-image: url('https://discord.com/assets/08b9e24092ee146b9e071e89049c1055.svg');
  }

  .emojiNeutral-1AAukj {
    background-image: url('https://discord.com/assets/fc5c8aa09047ef94d2c380891feff0f4.svg');
  }

  .emojiHappy-1umapU {
    background-image: url('https://discord.com/assets/626aaed496ac12bbdb68a86b46871a1f.svg');
  }
}