@forward 'inner/audit-log';
@forward 'inner/boost-status';
@forward 'inner/channel-permissions';
@forward 'inner/channels-sidebar';
@forward 'inner/community';
@forward 'inner/everyone-popout';
@forward 'inner/general-settings';
@forward 'inner/member-list';
@forward 'inner/nitro-boosting';
@forward 'inner/unreads';