@forward 'inner/accept-invite';
@forward 'inner/add-join-server';
@forward 'inner/generic';
@forward 'inner/keyboard-combos';
@forward 'inner/powercord-donate';
@forward 'inner/quickswitcher';
@forward 'inner/reactions';
@forward 'inner/uploads';