@forward 'inner/accept-invite';
@forward 'inner/add-join-server';
@forward 'inner/generic';
@forward 'inner/keyboard-combos';
@forward 'inner/quickswitcher';
@forward 'inner/reactions';
@forward 'inner/screen-share';
@forward 'inner/uploads';
@forward 'inner/vc-feedback';