.checkbox-1ix_J3 {
  @at-root #app-mount & {
    border-color: var(--kds-reply-content);
  }

  &.checked-3_4uQ9 {
    --control-brand-foreground: var(--kds-reply-content);
    background-color: rgba(var(--kds-reply-content-rgb), 0.075) !important;

    path {
      fill: deeppink;
    }
  }
}