.slider-1PF9SW {
  .grabber-3mFHz2 {
    border-color: var(--kds-mango-yellow);
    background-color: var(--kds-mango-yellow);
  }

  .bar-2Qqk5Z {
    background-color: var(--kds-reply-content);

    .barFill-23-gu- {
      background-color: var(--kds-category-name);
    }
  }
}