@use '../../../helpers/functions' as *;
@use '../../../helpers/variables' as *;

#app-mount .lookFilled-1Gx00P {
  @each $type, $colour in $btn-default-colours {
    &.#{$type} {
      color: white;
      background-color: var(--kds-#{$colour});

      $sass-colour: get-colour($colour) or get-shade($colour);

      &:hover {
        background-color: rgba($sass-colour, 0.85);
      }

      &:active,
      &:disabled {
        background-color: rgba($sass-colour, 0.7);
      }
    }
  }
}