@use '../../../helpers/variables' as *;

.lookOutlined-3sRXeN {
  @each $type, $colour in $btn-default-colours {
    @if $colour != 'spotify-dark-green' {
      &.#{$type} {
        color: var(--kds-#{$colour});
        background-color: transparent;
        border-color: var(--kds-#{$colour});
      }
    }
  }

  &.colorGreen-29iAKY {
    color: var(--kds-radio-bar-green);
    background-color: transparent;
    border-color: var(--kds-radio-bar-green);
  }
}