@use '../../../helpers/mixins' as *;

.item-1tOPte {
  color: var(--popout-button-text);

  &:active {
    &:not(.hideInteraction-1iHO1O) {
      color: white;
      background-color: var(--popout-button-active);

      .icon-LYJorE {
        color: white;
      }
    }
  }

  &.focused-3afm-j {
    color: white;
    background-color: var(--popout-button-focused);

    .icon-LYJorE {
      color: white;
    }
  }
}

#guild-header-popout-invite-people {
  @include popout-button('number');
}

#guild-header-popout-premium-subscribe {
  @include popout-button('discord-nitro-magenta');
}

.colorDefault-2K3EoJ {
  &:not(.colorDanger-2qLCe1) {
    @include popout-button('almost-cyan');
  }
}

.colorDanger-2qLCe1 {
  color: var(--kds-bright-orange-red);

  &.focused-3afm-j,
  &:active:not(.hideInteraction-1iHO1O) {
    background-color: var(--kds-bright-orange-red);
  }
}