@use 'sass:color';
@use '../../../helpers/functions' as *;

$-yellow-orange-mix: color.mix(
  get-colour('mango-yellow'),
  get-colour('bright-orange-red'),
  $weight: 50%
);

// Discord why must you hurt me in this way
.colorDefault-2K3EoJ .radioSelection-1HmrQS {
  color: var(--radio-dot-group-foreground); 
}

.radioBar-bMNUI- {
  border-width: 4px;

  &[style*='#43b58'] {
    // https://sass-lang.com/documentation/breaking-changes/css-vars
    --radio-bar-accent-color: #{get-colour('radio-bar-green')} !important;
  }

  &[style*='#faa61a'] {
    --radio-bar-accent-color: #{get-colour('mango-yellow')} !important;
  }

  &[style*='#f57731'] {
    --radio-bar-accent-color: #{$-yellow-orange-mix} !important;
  }

  &[style*='#f04747'] {
    --radio-bar-accent-color: #{get-colour('bright-orange-red')} !important;
  }
}