@use '../../../helpers/functions' as *;

#app-mount {
  .item-3T2z1R {
    border-color: black;

    &.selectorButton-EEUWed {
      &:hover {
        background: transparent;
      }

      &.selectorButtonSelected-t5V9On {
        background-color: get-shade('darker-reply-content');
      }
    }
  }
}