#app-mount .item-3T2z1R {
  border-color: black;

  &.selectorButton-EEUWed {
    &:hover {
      background: transparent;
    }

    &.selectorButtonSelected-t5V9On {
      background-color: var(--kds-darker-reply-content);
    }
  }
}