.item-PXvHYJ {
  &.themed-OHr7kt {
    // [aria-controls='logout-tab']
    &[style*='rgb(240, 71, 71)'] {
      color: red !important;

      &:active,
      &[aria-selected='true'] {
        color: white !important;
        background-color: rgba(red, 0.9) !important;
      }
    }

    // [aria-controls='Discord Nitro-tab']
    &[style*='rgb(114, 137, 218)'] {
      color: cyan !important;

      &:active,
      &[aria-selected='true'] {
        color: white !important;
        background-color: rgba(cyan, 0.5) !important;
      }
    }
  }
}