@use 'sass:meta';
@use 'sass:string';
@use 'functions' as funcs;

@mixin border($args...) {
  @each $name, $value in meta.keywords($args) {
    border-#{$name}: $value;
  }
}

@mixin channel-name-and-icon($colour) {
  .icon-1DeIlz,
  .channelName-2YrOjO {
    color: $colour;
  }
}

@mixin growing-dark-message-bar($target) {
  #{$target}: -4px;

  height: 33px;
  background-color: var(--background-secondary);
  transition: #{$target} .3s linear;

  &:hover {
    #{$target}: 0px;
    background-color: var(--background-secondary-alt);
  }
}

// I am suffering immensely

@mixin popout-button($colour-name) {
  $colour: funcs.get-colour($colour-name);

  @if $colour-name == 'dark-blue-popout-normal' {
    color: funcs.get-colour('almost-cyan');
  } @else {
    color: #{$colour};
  }

  &:active:not(.hideInteraction-1iHO1O) {
    color: white;
    background-color: rgba($colour, 0.65);

    // Need this otherwise it goes to original colour
    // if button is selected but cursor is moved away
    .icon-LYJorE path {
      fill: white;
    }
  }

  &.focused-3afm-j {
    color: white;
    background-color: rgba($colour, 0.15);

    .icon-LYJorE path {
      fill: white;
    }
  }
}

@mixin special-themed-item-button($colour, $opacity) {
  // People writing Discord's CSS must be psychopaths because they
  // have !importants IN STYLESHEET CSS WITH NO INLINE STYLES ANYWHERE
  // So I gotta use !important here. Sorry.

  color: $colour !important;

  &:hover {
    background-color: rgba($colour, 0.075) !important;
  }

  &:active,
  &[aria-selected='true'] {
    color: white !important;
    background-color: rgba($colour, $opacity) !important;
  }
}