@mixin exclude-yellow-white {
  &:not(.colorYellow-2JqYwt):not(.colorWhite-rEQuAQ) {
    @content;
  }
}

// Because it's prettier imo
@mixin parent-and($other-selectors...) {
  &, #{$other-selectors} {
    @content;
  }
}

@mixin popout-button($colour-name) {
  --popout-button-text: var(--kds-#{$colour-name});
  --popout-button-focused: rgba(var(--kds-#{$colour-name}-rgb), 0.15);
  --popout-button-active: rgba(var(--kds-#{$colour-name}-rgb), 0.65);
}

@mixin filled-button($colour-name) {
  --fill-button-normal: var(--kds-#{$colour-name});
  --fill-button-hover: rgba(var(--kds-#{$colour-name}-rgb), 0.85);
  --fill-button-active: rgba(var(--kds-#{$colour-name}-rgb), 0.7);
}

@mixin lined-button($colour-name) {
  --line-button-colour: var(--kds-#{$colour-name});
  --line-button-hover: rgba(var(--kds-#{$colour-name}-rgb), 0.075);
}

@mixin growing-dark-message-bar($target) {
  #{$target}: -4px;

  height: 33px;
  background-color: var(--background-secondary);
  transition: #{$target} 0.3s linear;

  &:hover {
    #{$target}: 0px;
    background-color: var(--background-secondary-alt);
  }
}

@mixin layout-container($margin: 'left', $bg: false) {
  margin-#{$margin}: 5px;
  border-radius: 10px;

  @if $bg {
    background-color: var(--background-tertiary);
  }
}

@mixin special-themed-item-button($colour, $opacity, $path: false) {
  // People writing Discord's CSS must be psychopaths because they
  // have !importants IN STYLESHEET CSS WITH NO INLINE STYLES ANYWHERE
  // So I gotta use !important here. Sorry.

  color: $colour !important;

  &:hover {
    background-color: rgba($colour, 0.075) !important;
  }

  &:active,
  &.selected-3s45Ha {
    color: white !important;
    background-color: rgba($colour, $opacity) !important;

    @if $path {
      path {
        fill: white;
      }
    }
  }
}