@use 'sass:string';
@use 'functions' as *;

@mixin exclude-yellow-white {
  &:not(.colorYellow-2JqYwt):not(.colorWhite-rEQuAQ) {
    @content;
  }
}

@mixin popout-button($colour-name) {
  $colour: get-colour($colour-name);

  --popout-button-text: #{$colour};
  --popout-button-focused: #{rgba($colour, 0.15)};
  --popout-button-active: #{rgba($colour, 0.65)};
}

@mixin filled-button($colour-name) {
  $colour: get-colour($colour-name) or get-shade($colour-name);

  --fill-button-normal: #{$colour};
  --fill-button-hover: #{rgba($colour, 0.85)};
  --fill-button-active: #{rgba($colour, 0.7)};
}

@mixin lined-button($colour-name) {
  $colour: get-colour($colour-name) or get-shade($colour-name);

  --line-button-colour: #{$colour};
  --line-button-hover: #{rgba($colour, 0.075)};
}

@mixin growing-dark-message-bar($target) {
  #{$target}: -4px;

  height: 33px;
  background-color: var(--background-secondary);
  transition: #{$target} .3s linear;

  &:hover {
    #{$target}: 0px;
    background-color: var(--background-secondary-alt);
  }
}

@mixin layout-container($margin: 'left', $bg: false) {
  margin-#{$margin}: 5px;
  border-radius: 10px;

  @if $bg {
    background-color: var(--background-tertiary);
  }
}

@mixin windows-min-max-button($colour) {
  &:hover {
    background-color: $colour;

    rect {
      stroke: white;
    }
  }

  rect {
    stroke: $colour;
  }
}

@mixin special-themed-item-button($colour, $opacity) {
  // People writing Discord's CSS must be psychopaths because they
  // have !importants IN STYLESHEET CSS WITH NO INLINE STYLES ANYWHERE
  // So I gotta use !important here. Sorry.

  color: $colour !important;

  &:hover {
    background-color: rgba($colour, 0.075) !important;
  }

  &:active,
  &[aria-selected='true'] {
    color: white !important;
    background-color: rgba($colour, $opacity) !important;
  }
}