$base-colours: (
  'settings-larger-header': '193, 0, 242',
  'discord-nitro-magenta': '255, 115, 250',
  'reply-content': '214, 46, 151',
  'bright-orange-red': '255, 42, 0',
  'radio-bar-orange': '255, 119, 11',
  'mango-yellow': '255, 196, 22',
  'mentioned-replying-bg': '128, 201, 114',
  'radio-bar-green': '0, 162, 63',
  'spotify-dark-green': '1, 112, 44',
  'number': '1, 206, 206',
  'almost-cyan': '5, 207, 255',
  'category-name': '157, 217, 255',
  'settings-smaller-header': '0, 118, 187',
  'dark-blue-popout-normal': '1, 15, 40',
  'dark-blue-popout-playing': '13, 10, 58',
  'streaming-violet': '51, 12, 72',
  'message-hover': '0, 10, 28',
  'spoiler-box': '0, 0, 13',
  'light-grey': '220, 221, 222' 
);

$colour-shades: (
  'greyish-blue': '70, 86, 107',
  'darker-orange-red': '192, 34, 9',
  'darker-reply-content': '160, 37, 121',
  'light-pink-tick-slider': '255, 27, 240, 0.25',
  'darker-interactive-active': '209, 41, 255'
);

$login-background: url(
  'https://raw.githubusercontent.com/spinfish/kaleidoscope/master/source/images/login_background.png'
);

$home-icon-background: url(
  'https://raw.githubusercontent.com/spinfish/kaleidoscope/master/source/images/home_icon_background.svg'
);

$lily-datepicker-bg-image: url(
  'https://media.discordapp.net/attachments/678012423067926539/842665461127970816/lily.png'
);

$modal-box-shadow: 0 0 2px 2px var(--background-tertiary);

$nitro-header-gradient: linear-gradient(
  to right,
  var(--interactive-normal),
  var(--interactive-active),
  deeppink
);