$-nitro-icon: url(
  'https://discord.com/assets/386884eecd36164487505ddfbac35a9d.svg'
);

#app-mount .premiumIndicator-1XvbfM {
  background-color: var(--kds-settings-larger-header);
}

.paymentHistory-2FXzro {
  .paymentPane-3bwJ6A {
    border: 1px solid black;
  }

  .paginator-166-09,
  .paymentRow-2e7VM6 {
    border: none;
    background-color: var(--background-secondary);
  }

  .scrollerBase-289Jih {
    width: 665px;
    border: 1px black;
    border-style: solid none solid;
  }

  .gameIcon-gg34Dz {
    background-image: $-nitro-icon !important;
  }

  // Needs to be nested else column names are coloured
  .summaryInfo-2QFKUg {
    > .date-2Qr15l {
      color: var(--kds-mango-yellow);
    }

    > .description-RQzS-K {
      font-weight: bold;
      color: var(--kds-settings-smaller-header);
    }

    > .amount-ukM6w- {
      color: deeppink;
      font-weight: bold;
    }
  }

  .hoverablePayment-Yc6mK7:hover {
    background-color: var(--background-tertiary);
  }

  .expandedInfo-3kfShd {
    background-color: var(--background-secondary-alt);

    .paymentText-2vaF7U {
      color: var(--text-normal);
    }
  }

  .paymentHeader-3QlZQi,
  .refundSubHeader-3hp-GM {
    color: var(--kds-category-name);
  }
}