@use '../../../helpers/variables' as vars;

.note-QfFU8y,
.note-3HfJZ5 {
  textarea {
    filter: blur(5px);
    transition: vars.$notes-blur-transition;

    &:focus,
    &:hover {
      filter: none;
      transition: vars.$notes-blur-transition;
    }
  }
}