// New profiles
.userPopout-3XzG_A {
  box-shadow: 0 0 3px 1px var(--background-tertiary);

  > .footer-1fjuF6,
  > .scrollerBase-289Jih {
    background-color: var(--background-secondary);
  }
}

.headerNormal-1l1Znk {
  background-color: var(--kds-dark-blue-popout-playing);

  > .profileBanner-33-uE1 {
    background-color: inherit !important;
  }

  .activity-fViXj7 {
    padding: 16px 16px;
  }

  .headerTop-2y3V6H {
    background-color: inherit;
    border-bottom: none;
  }

  .avatar-22FtUu {
    background-color: transparent;
    border-color: transparent;
  }

  .aboutMeSection-3bipSD {
    background-color: inherit;
  }
}

.roleName-32vpEy {
  color: var(--header-secondary);
}

.botTag-2WPJ74 {
  color: white;
  background-color: deeppink;
}