.customStatus-oN4ZZY {
  display: flex;

  > .customStatusEmoji-3a2-Zo {
    width: 100px;
    height: 100px;
    margin-top: 8px;
  }

  > .customStatusText-1vtUsN {
    margin: auto; // Classic
    max-width: 150px;
    text-align: center;
  }
}

.userPopout-xaxa6l {
  --text-normal: var(--header-secondary);
  box-shadow: 0 0 3px 1px var(--background-tertiary);

  > .footer-1N3bR3,
  > .scrollerBase-289Jih {
    background-color: var(--background-secondary);
  }

  .user-details-text {
    margin-top: 8px;
  }
}

.headerNormal-1mX3KY {
  background-color: var(--kds-dark-blue-popout-playing);

  > .profileBanner-33-uE1 {
    background-color: inherit !important;
  }

  .activity-3v9l4T {
    padding: 16px 16px;
  }

  .headerTop-2cWpdB {
    background-color: inherit;
    border-bottom: none;
  }

  .avatar-37jOim {
    background-color: transparent;
    border-color: transparent;
  }

  .aboutMeSection---MkQa {
    background-color: inherit;
  }
}

.roleName-32vpEy {
  color: var(--header-secondary);
}

.botTag-2WPJ74 {
  color: white;
  background-color: deeppink;
}