.body-r6_QPy {
  > .scrollerBase-289Jih {
    &[style*='padding-right: 0px'] {
      background-color: var(--background-primary);
    }
  }
}

.topSection-y3p-_D {
  --text-normal: var(--header-secondary);
  background-color: var(--kds-dark-blue-popout-playing);

  // User info, mutual servers, mutual friends
  .tabBarContainer-37hZsr {
    border-bottom: none;
  }

  // Get rid of ugly borders around avatars
  .avatar-AvHqJA {
    border-color: transparent;
    background-color: transparent;
  }

  .banner-2QYc2d {
    background-color: inherit !important;

    &:not(.bannerPremium-2hSAwz) {
      // Remove huge empty space above avatar in non-custom banner profiles
      height: 80px;
    }
  }

  + .noTabBar-3ZjPNR {
    border-top: none;
  }
}

// Activity tab
.newProfileActivityStyles {
  --text-normal: var(--header-secondary);

  // Spotify stuff
  .horizontal-1ae9ci {
    .fullWidth-1orjjo {
      width: 33px;
      margin-left: 5px;
    }

    > :not(:first-child) {
      &:not(.disabledButtonWrapper-3wH6-b) {
        margin-left: 4px;
      }
    }
  }

  .spotifyButtonLogo-3uT57D {
    left: 7.7px;
    position: absolute;
  }
}

.connectedAccount-2Jb-Z0 {
  cursor: pointer;
  border-color: black;
  background-color: var(--kds-message-hover);

  &:hover {
    background-color: var(--background-modifier-active);
  }

  .flowerStar-1GeTsn {
    > path {
      fill: var(--kds-reply-content);
    }
  }

  .childContainer-1wxZNh {
    path {
      fill: black;
    }
  }
}