.root-SR8cQa {
  .body-3ND3kc {
    background-color: var(--background-primary);
  }

  .lookInverted-2D7oAl {
    font-weight: 600;
    color: var(--inverted-button-colour);
  }

  .headerInfo-30uryT {
    --text-normal: var(--header-secondary); // For user-details
    margin-left: 12px;
  }
}

.topSectionPlaying-1J5E4n {
  --inverted-button-colour: var(--kds-dark-blue-popout-playing);
  background-color: var(--kds-dark-blue-popout-playing);
}

.topSectionSpotify-1lI0-P {
  --inverted-button-colour: var(--kds-spotify-dark-green);
  background-color: var(--kds-spotify-dark-green);

  .bar-3urHkF {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .contentImagesProfile-1Mz07W {
    width: -webkit-fill-available;
  }

  .fullWidth-1orjjo {
    width: 33px;
    margin-left: 5px;
  }

  .spotifyButtonLogo-3uT57D {
    left: 7.7px;
    position: absolute;
  }

  // Fix being too close together
  .horizontal-3fI3M- {
    > :not(:first-child) {
      &:not(.disabledButtonWrapper-3wH6-b) {
        margin-left: 4px;
      }
    }
  }
}

.topSectionStreaming-1Tpf5X {
  --inverted-button-colour: var(--kds-streaming-violet);
  background-color: var(--kds-streaming-violet);
}

.connectedAccount-36nQx7 {
  border-color: black;
  background-color: var(--kds-message-hover);

  &:hover {
    background-color: var(--background-modifier-active);
  }

  .flowerStar-1GeTsn {
    path {
      fill: var(--kds-reply-content);
    }
  }

  .childContainer-1wxZNh {
    path {
      fill: black;
    }
  }
}