// My Account
.accountProfileCard-1XCH88 {
  --background-tertiary: var(--background-secondary-alt);

  // I have made a severe and continous lapse in my judgement
  > .settingsBanner-15-pZk {
    &:not([style*='background-image']) {
      width: 0;
      height: 30px;

      + .userInfo-iCloHO {
        > .avatar-1uQSZT {
          top: 9px;

          ~ div {
            transform: translateY(-15px);
          }
        }
      }
    }
  }
}

// User Profile
.profileBannerPreview-3_l0Wd {
  > .popoutInfo-pKbpvG {
    --text-normal: var(--header-secondary);
  }

  > .bannerNormal-22rPhb {
    background: inherit !important;
  }
}

// Overlay notifications
.notificationSettings-1NQKPR {
  .wrapper-3jrx9n {
    border-color: var(--kds-number);
  }

  .option-n0icdO {
    &:not(.selected-mKYnfr) {
      &:hover {
        background-color: rgba(var(--kds-almost-cyan-rgb), 0.6);
      }
    }
  }

  .selected-mKYnfr {
    background-color: var(--kds-number);
  }
}