$-mic-test-gradient: linear-gradient(
  to right,
  var(--kds-darker-reply-content),
  var(--kds-almost-cyan)
);

.previewOverlayInner-1WXURq {
  background-color: var(--background-secondary);
}

.manual-36Evg9 {
  .fill-3eUagR {
    background-color: rgba(0, 0, 0, 0.45) !important;
  }

  [style*="rgb(251, 184, 72)"] { // Yellow
    background-color: var(--kds-almost-cyan) !important;
  }

  [style*="rgb(87, 242, 135)"] { // Green
    background-color: var(--kds-radio-bar-green) !important;
  }
}

#app-mount {
  .previewOverlay-2O7_KC {
    border: 1px solid black;
  }

  .userSettingsVoice-iwdUCU {
    .notches-1sAcEM {
      background-image: none;
    }

    .progress-1IcQ3A {
      background-color: var(--background-secondary);
    }

    .container-3PXSwK {
      height: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 4px;
      background: $-mic-test-gradient !important;
    }
  }

  .speaking-2bFhO4 {
    background-color: var(--kds-radio-bar-green);
  }
}