/**
 * @name kaleidoscope
 * @author mackenzie#0173
 * @description A vibrant, colourful dark theme inspired by the 2077 theme for VSCode.
 * @version 2.0.8
 * @source https://github.com/spinfish/kaleidoscope
 */

@import url('https://spinfish.github.io/kaleidoscope/source/compiled/kaleidoscope.compiled.css');