.powercord .powercord-donate-modal {
  background-color: var(--background-tertiary);
  box-shadow: 0 2px 5px var(--background-tertiary);

  .footer-2gL1pp {
    background-color: var(--background-secondary-alt);
    box-shadow: 0 0 0 1px black;
  }
}