.powercord {
  .powercord-product-license-modal {
    color: var(--header-secondary);
    background-color: var(--background-tertiary);
    box-shadow: 0 2px 5px 0 var(--background-tertiary);

    h4 {
      color: var(--kds-settings-smaller-header);
    }

    span {
      color: var(--text-normal);

      &::before {
        width: 7px;
      }
    }
  }

  .permissions span::before {
    background-color: var(--kds-radio-bar-green);
  }

  .limitations span::before {
    background-color: var(--kds-bright-orange-red);
  }

  .conditions span::before {
    background-color: var(--kds-almost-cyan);
  }
}