.powercord {
  .powercord-product-license-modal {
    color: var(--header-secondary);

    h4 {
      color: var(--kds-settings-smaller-header);
    }

    span {
      color: var(--text-normal);

      &::before {
        width: 7px;
        background-color: var(--powercord-license-dot-colour) !important; // Pain
      }
    }
  }

  .permissions {
    --powercord-license-dot-colour: var(--kds-radio-bar-green);
  }

  .limitations {
    --powercord-license-dot-colour: var(--kds-bright-orange-red);
  } 

  .conditions {
    --powercord-license-dot-colour: var(--kds-almost-cyan);
  }
}