@use '../../../helpers/mixins' as *;

#---new-messages-bar {
  top: 8px;
  padding: 7px;
  border-width: 3px;
  border-color: rebeccapurple;
  border-top-left-radius: 3px;

  > .unreadPill-2HyYtt {
    top: -8px;
    background-color: rebeccapurple;
  }

  .unreadPillCapStroke-7rkHbg {
    fill: rebeccapurple;
    color: rebeccapurple;
  }

  > .content-1o0f9g {
    color: var(--text-normal);
    transform: translateY(-9px);
  }
}

.barButtonBase-2uLO1z {
  color: var(--kds-almost-cyan);
}

.newMessagesBar-265mhP {
  @include growing-dark-message-bar($target: top);
}

.jumpToPresentBar-G1R9s6 {
  @include growing-dark-message-bar($target: bottom);
}

.messagesErrorBar-nyJGU7 {
  background-color: var(--kds-bright-orange-red);

  .barButtonBase-2uLO1z {
    color: white;
  }
}