@use '../../../helpers/mixins' as *;

#app-mount {
  .edited-3sfAzf,
  .timestamp-3ZCmNB {
    color: var(--kds-mango-yellow);
  }

  // Reply messages
  .repliedMessage-VokQwo {
    &::before {
      border-color: var(--background-tertiary);
    }
  }

  .replyBadge-r1su3o {
    background: transparent;
  }

  .replyIcon-1b4Xjp {
    width: 20px;
    height: 10px;

    > path {
      fill: white;
    }
  }

  .repliedTextPreview-2NBljf {
    color: var(--kds-reply-content);

    &:hover {
      color: var(--interactive-active);
    }
  }

  .message-2qnXI6 {
    &:hover {
      // --background-message-hover doesnt work 
      // and yet --background-mentioned does
      background-color: var(--kds-message-hover);
    }

    // Spotify cards
    // The actual content of the cards is impossible to customize :sadge:
    .embedSpotify-tvxDCr {
      border-radius: 6px;
    }
  }
}

.mentioned-xhSam7 {
  &::before {
    background-color: var(--kds-mango-yellow);
  }

  // Mentioned + replying
  &.replying-1x3H0T {
    background-color: rgba(var(--kds-mentioned-replying-bg-rgb), 0.075);

    &::before {
      background: linear-gradient(
        to top,
        var(--kds-mango-yellow),
        var(--kds-reply-content),
        var(--interactive-active),
        var(--kds-number)
      );
    }
  }
}

// Clyde + replying
.ephemeral-1PsL1r,
.replying-1x3H0T {
  background-color: rgba(var(--kds-number-rgb), 0.075);

  &::before {
    background-color: var(--kds-number);
  }
}

// Message hover toolbar
.wrapper-2aW0bm {
  background-color: transparent;
  box-shadow: none;
}

// Message hover buttons
.button-1ZiXG9 {
  margin: 0 2px;
  border-radius: 5px;
  background-color: var(--background-tertiary);

  &:hover {
    background-color: var(--background-modifier-selected);
  }

  &.dangerous-2r8KxV {
    @include parent-and('&:hover') {
      color: var(--kds-bright-orange-red);
    }
  }
}

// I wasn't sure where else to put this
// It's just the little icon that appears next to filename
// When uploading in chat e.g. [icon] unknown.png ...
.icon-1kp3fr {
  filter: invert(0.95);
}