@use '../../../helpers/functions' as *;

#app-mount .message-2qnXI6 {
  &:hover {
    // Setting --background-message-hover doesn't work
    background-color: var(--kds-message-hover);
  }

  // --background-mentioned, however, does
  &.mentioned-xhSam7::before {
    background-color: var(--kds-mango-yellow);
  }

  // Clyde messages and message you're replying to
  &.ephemeral-1PsL1r,
  &.replying-1x3H0T {
    background-color: get-colour('number', 0.075);

    &::before {
      background-color: var(--kds-number);
    }
  }

  .edited-3sfAzf,
  .timestamp-3ZCmNB {
    color: var(--kds-mango-yellow);
  }

  .repliedMessage-VokQwo {
    .replyBadge-r1su3o {
      background: transparent;
    }

    .replyIcon-1b4Xjp {
      width: 20px;
      height: 10px;

      path {
        fill: white;
      }
    }

    .repliedTextPreview-2NBljf {
      color: var(--kds-reply-content);

      &:hover {
        color: var(--interactive-active);
      }
    }
  }

  .wrapper-2aW0bm {
    background-color: transparent;
    box-shadow: none;

    .button-1ZiXG9 {
      margin: 0 2px;
      border-radius: 5px;
      background-color: var(--background-tertiary);

      &:hover {
        background-color: var(--background-modifier-selected);
      }
    }
  }
}