.messagesPopoutWrap-1MQ1bW {
  width: 550px;
}

.searchResultsWrap-3-pOjs {
  width: 550px;

  .pageButton-2ruNwd.activeButton-rvKcqq {
    &,
    &:hover {
      background-color: var(--kds-almost-cyan);
    }
  }
}