#app-mount .invite-18yqGF  {
  border: none;
  background-color: var(--background-secondary);
  box-shadow: 0 0 1px 1px var(--background-secondary-alt);

  .header-Hg_qNF {
    filter: brightness(175%);
  }

  .colorGrey-2DXtkV:disabled {
    background-color: var(--background-tertiary);
  }
}