#app-mount {
  .spoilerWarning-2aAZq1 {
    background-color: var(--kds-spoiler-box);
  }

  .spoilerText-3p6IlD {
    background-color: var(--kds-spoiler-box);

    &:hover > .inlineContent-3ZjPuv {
      opacity: 1;
    }
  }
}