.channelTextArea-rNsIhG {
  .scrollableContainer-2NUZem {
    border-radius: 10px;
  }

  > .attachedBars-tZDmyV {
    --background-secondary: var(--background-primary); // Transparent effect
  }

  // Reply container above chat bar
  .replyBar-1YLQ2F {
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: var(--channeltextarea-background);

    .colorLink-2vG20E {
      color: var(--interactive-active); // @ON
    }

    .colorMuted-HdFt4q {
      color: var(--kds-reply-content); // @OFF
    }

    .mentionButton-3710-W {
      &:hover {
        color: var(--interactive-hover);
      }
    }
  }

  // Thread prompt
  .threadSuggestionBar-2ufK2Z {
    border-top: none;
    background-color: var(--channeltextarea-background);
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 10px;
  }

  // Slash command prompt
  .pill-2pQByF {
    background-color: var(--background-primary);
  }

  .tabButton-1n4gNP {
    > rect {
      fill: var(--kds-dark-blue-popout-playing);
    }

    > path {
      &[d^='M0'] {
        display: none;
      }
    }
  }
}