@use '../../../helpers/mixins' as *;

// Yeah
.iconBadge-qZ4Ksk {
  background-color: var(--kds-bright-orange-red);
}

.toolbar-1t6TWx {
  height: 34px;
  border-radius: 8px 4px 4px 8px;
  background: var(--background-secondary-alt);

  .anchor-3Z-8Bb {
    order: -1;
  }

  // Fix NSFW icons being white
  .iconWrapper-2OrFZ1 {
    --text-muted: var(--interactive-normal);
  }
}

// Ew lol
.search-36MZv- {
  @include parent-and("+ .iconWrapper-2OrFZ1[aria-label$='!']") {
    order: -1;
  }
}

.updateIconForeground-3tnNZn {
  fill: var(--kds-radio-bar-green);
}

// Everything below is heavily based on code from a
// snippet made by DoggyBootsy#1333. Thanks so much!

.icon-3cZ1F_ {
  height: 24px;
  width: 24px;
  color: var(--interactive-normal);
  cursor: pointer;
}

.iconContainer-O4O2CN {
  bottom: 3px;
}

.search-36MZv- {
  margin-left: 0px;
}

.searchBar-3dMhjb {
  width: 28px;
  background: none;
  transition: width 0.6s ease-in-out;

  @at-root {
    &:hover,
    .open-6_Y_aH &,
    .focused-31_ccS & {
      width: 240px;
      margin-left: 5px;
      background: var(--background-tertiary);
    }
  }
}