#app-mount {
  .mediaBarGrabber-1FqnbN {
    background-color: var(--interactive-hover);
  }
}

.buffer-26XPkd {
  background-color: transparent;
}

.mediaBarProgress-1xaPtl {
  &,
  &::before,
  &::after {
    background-color: var(--kds-almost-cyan);
  }
}

.mediaBarWrapper-3D7r67 {
  &,
  &::after {
    background-color: deeppink;
  }
}