.auditLog-3jNbM6 {
  @at-root #app-mount & {
    border: 1px solid black;
  }

  .headerExpanded-CUEwZ5 {
    box-shadow: none;
    background-color: var(--background-secondary);
  }

  .headerDefault-1wrJcN,
  .headerClickable-2IVFo9 {
    background-color: var(--background-modifier-hover);
  }

  .divider-1pnAR2 {
    background-color: black;
  }

  > .changeDetails-bk98pu {
    background-color: transparent;
  }
}