@use '../../../helpers/mixins' as *;
@use '../../../helpers/functions' as *;

.content-22JeIO {
  background-color: var(--background-primary);

  .tierInProgress-3mBoXq {
    background-color: var(--background-tertiary);
  }

  .bar-3S3dlZ {
    color: var(--background-tertiary);
  }

  .tierHeaderContent-2-YfvN {
    @include border(
      $width: 1px,
      $style: solid solid none solid,
      $color: black,
      $top-left-radius: 6px,
      $top-right-radius: 6px
    );
    background-color: var(--background-secondary-alt);

    > .tierLock-1oFMOZ path {
      fill: get-shade('greyish-blue');
    }
  }

  .tierBody-x9kBBp {
    border: 1px solid black;
    background-color: var(--background-secondary);

    .previousPerks-Dc7vdK {
      font-weight: 515;
      color: var(--text-normal);
    }
    .perks-2Ve4tD{
      color: get-colour('reply-content');
    }
  }

  ~ .divider-Uf0Wob {
    margin: 20px 0;
    background: none;
  }

  ~ .wrapper-1hrFc0 > h3 {
    color: get-colour('category-name');
  }
}