// Badges next to server name
.iconBackgroundTierNone-3ZkOsa {
  --background-accent: var(--kds-dark-blue-popout-normal);
}

.guildIconContainer-2FW_iA {
  .flowerStarContainer-3zDVtj {
    &:not(.iconBackgroundTierNone-3ZkOsa) {
      --brand-experiment: var(--kds-settings-smaller-header); // Partnered
      --background-accent: rgba(var(--kds-reply-content-rgb), 0.5); // Boosted
    }
  }
}

// Fix banner not being border-radius'd
.animatedContainer-1NSq4T {
  border-top-right-radius: 10px;
}

// Topic when looked at from channel
.topic-TCb_qw {
  color: var(--kds-reply-content);
}

// Categories
.name-3l27Hl,
.wrapper-PY0fhH {
  color: var(--kds-category-name);
}

// Unread channel pill
.unread-2lAfLh {
  background-color: var(--kds-number);
}

// Text channels
.icon-1DeIlz,
.channelName-2YrOjO {
  color: deeppink;

  @at-root {
    // Channel hovering
    .containerDefault--pIXnN:hover & {
      color: var(--interactive-hover);
    }

    .modeMuted-onO3r- & {
      color: var(--interactive-muted);
    }

    .modeSelected-346R90 & {
      color: var(--interactive-active);
    }

    .modeUnread-1qO3K1 & {
      color: var(--kds-number);
    }
  }
}

.content-1x5b-n {
  border-radius: 10px;
}

// Voice channels
.userLimit-3aerPX {
  > .wrapper-2tAnRe {
    color: var(--kds-number);
  }

  .users-3kndPl {
    width: 27px;
    padding: 0 4px 0 8px;
    background-color: var(--background-secondary-alt);
  }

  .total-i6us2n {
    width: 26px;
    padding: 0 6px 0 4px;
    background-color: black;

    &::after {
      border: none;
    }
  }
}