.checklist-3Y6Fqp,
.checklistContainer-mFJZEJ {
  border: 1px solid black;

  .checkbox-1ix_J3 {
    border: transparent;

    svg path {
      fill: var(--background-secondary);
    }
  }

  > .separator-Hx_3SF,
  > .separator-1COOpU {
    opacity: 0.9;
    background-color: black;
  }
}