// Discovery -> Partner Programme
.checklist-3Y6Fqp,
.checklistContainer-mFJZEJ {
  border: 1px solid black;

  .checklistIcon-6Kez2J {
    margin-top: 2.5px;
  }

  > .separator-1COOpU,
  > .separator-Hx_3SF {
    opacity: 0.9;
    background-color: black;
  }
}