#app-mount .everyonePopout-nEbJY3 {
  box-shadow: 0 2px 5px 0 var(--background-tertiary);
  background-color: var(--background-secondary-alt);

  > .footer-2aTx0s {
    background-color: var(--background-secondary);

    > .icon-2qOzDL path {
      fill: var(--kds-almost-cyan);
    }

    > .colorStandard-2KCXvj {
      color: deeppink;
    }
  }
}