#app-mount {
  .emojiInput-1aLNse {
    background-color: var(--background-secondary);

    &:hover {
      border-color: rgba(var(--kds-almost-cyan-rgb), 0.25);
    }

    &:focus {
      border-color: rgba(255, 27, 240, 0.5);
    }
  }

  .colorPickerCustom-2CWBn2 {
    border: none;
    box-shadow: 0 0 1px 1px black;
    background-color: var(--background-secondary);
  }
}

// !important bad and so are random inline styles >:c
.elevationHigh-1PneE4 {
  background-color: var(--background-secondary-alt) !important;
}