@use '../../../helpers/mixins' as *;
@use '../../../helpers/functions' as *;
@use '../../../helpers/variables' as vars;

#app-mount .perksModalContentWrapper-2HU6uL {
  background-color: var(--background-primary);

  h3:not(.headingTier1-K4ha7e) {
    color: get-colour('category-name');
  }

  .barBackground-2EEiLw {
    background-color: var(--background-tertiary)
  }

  // Greyed out first circle for servers with no boosts
  .tierMarkerContainer-2BmgqV :first-child.tierMarkerInProgress-24LMzJ {
    background-color: var(--background-primary) !important;
  }

  // Prepare your eyes for terribad code
  .tierMarkerGroup-xg6A1d {
    :not(.selectedTier-1JkO7i) {
      &[class*='Accomplished'].tierMarkerSelectable-3t7r2q {
        background-color: get-colour('discord-nitro-magenta') !important;
      }

      :not([class*='Accomplished']).tierMarkerSelectable-3t7r2q {
        background-color: var(--background-primary) !important;
      }
    }

    &.selectedTier-1JkO7i .tierMarkerBackground-3q29am {
      filter: brightness(125%);
      background-color: get-colour('dark-blue-popout-normal') !important;
    }

    .tierMarkerBackground-3q29am {
      background-color: var(--background-secondary-alt);
    }
  }

  .tierHeader---JJFb {
    @include border(
      $width: 1px,
      $style: solid solid none solid,
      $color: black,
      $top-left-radius: 6px,
      $top-right-radius: 6px
    );

    background-color: var(--background-tertiary);

    > .tierLock-3CSxSX {
      color: get-colour('greyish-blue');
    }
  }

  .tierHeaderUnlocked-1n-OTI {
    background-image: vars.$nitro-header-gradient;

    > .tierUnlocked-25K6Kv {
      color: rebeccapurple;
    }
  }

  .tierBody-16Chc9 {
    border: 1px solid black;
    color: var(--text-normal);
    font-weight: 550;
    background-color: var(--background-secondary-alt);
  }

  .perk-2WeBWW {
    background-color: var(--background-secondary-alt);
  }
}

.wrapper-3nSjSv {
  background-image: vars.$nitro-header-gradient;
}
