.unreadBar-3t3sYc {
  box-shadow: 0 0 0 1px var(--background-tertiary);
  background-color: var(--background-tertiary);

  transition: 0.3s linear;
  transition-property: background-color;

  &:hover {
    background-color: var(--background-modifier-selected);
  }

  > .text-2e2ZyG {
    color: var(--kds-almost-cyan);
  }
}