// Small blurple circle loading
.path-92Hmty {
  stroke: var(--interactive-normal) !important;
}

// Two blurple dot loading
.spinner-2enMB9 {
  .wanderingCubesItem-WPXqao {
    background-color: var(--interactive-normal);
  }
}

// E.g. when clicking on an emoji, the grey loading thing
.popoutLoadingForeground-2mZT61 {
  background-image: linear-gradient(
    90deg,
    var(--background-primary),
    var(--background-secondary),
    var(--background-primary)
  );
}