.inputDefault-_djjkz {
  border-color: var(--background-tertiary);

  &:hover {
    border-color: rgba(var(--kds-almost-cyan-rgb), 0.5);
  }

  &:focus {
    border-color: rgba(255, 27, 240, 0.5);
  }
}
