#private-channels {
  &::-webkit-scrollbar {
    width: 6px;

    &-thumb {
      background-color: cornflowerblue;
    }
  }

  .headerText-2F0828 {
    color: var(--kds-almost-cyan);
  }

  .clickable-1JJAn8 {
    .overflow-WK9Ogt {
      color: var(--kds-category-name);
    }
  }

  a[href='/discovery'],
  a[href='/channels/@me'],
  a[href='/store'] {
    margin-bottom: 5px;
    background-color: var(--background-primary);
  }
}