#private-channels {
  &::-webkit-scrollbar {
    width: 6px;

    &-thumb {
      background-color: cornflowerblue;
    }
  }

  .headerText-2F0828 {
    color: var(--kds-almost-cyan);
  }

  .clickable-1JJAn8 {
    border-radius: 10px;

    // Special 3 channels at top
    &:hover {
      background-color: transparent;
    }

    .overflow-WK9Ogt {
      color: var(--kds-category-name);
    }
  }

  .layout-2DM8Md {
    border-radius: 10px;
  }

  a {
    &[href='/discovery'],
    &[href='/channels/@me'],
    &[href='/store'] {
      margin-bottom: 5px;
      background-color: var(--background-primary);
    }
  }
}