// Servers with no icon
#app-mount {
  .selected-bZ3Lue {
    .acronym-2mOFsV {
      background-color: var(--kds-settings-smaller-header);
    }
  }
}

.circleIconButton-1QV--U {
  color: var(--kds-radio-bar-green);
  background-color: var(--background-secondary-alt);
}

.folderIconWrapper-1_bOZe {
  &[style*='rgba(88, 101, 242, 0.4)'] {
    background-color: rgba(var(--kds-settings-smaller-header-rgb), 0.4) !important;
  }
}

.expandedFolderIconWrapper-Huv7rA {
  background-color: var(--background-primary);

  > svg {
    &[style*='rgb(88, 101, 242)'] {
      color: var(--kds-settings-smaller-header) !important;
    }
  }
}

.expandedFolderBackground-1cujaW {
  &:not(.collapsed-2ZrjoL) {
    background-color: var(--background-primary);
    box-shadow: 0 0 15px 5px var(--background-secondary-alt);
  }
}