.winButton-iRh8-Z {
  > svg {
    color: var(--windows-button-colour);
  }

  &:hover {
    background-color: var(--windows-button-colour);

    > svg {
      color: white;
    }
  }
}

// Close
.winButtonClose-1HsbF- {
  --windows-button-colour: var(--kds-bright-orange-red);
}

.winButtonMinMax-PBQ2gm {
  // Maximize
  &:nth-child(3) {
    --windows-button-colour: orange;
  }

  // Minimize
  &:nth-child(4) { // :last-child works here too
    --windows-button-colour: var(--kds-radio-bar-green);
  }
}