// Small blurple circle loading
.path-92Hmty {
  stroke: var(--interactive-normal) !important;
}

// Two blurple dot loading
.spinner-2enMB9 .wanderingCubesItem-WPXqao {
  background-color: var(--interactive-normal);
}