@use '../../../helpers/functions' as *;

.inputDefault-_djjkz {
  border-color: var(--background-tertiary);

  &:hover {
    border-color: get-colour('almost-cyan', 0.5);
  }

  &:focus {
    border-color: rgba(255, 27, 240, 0.5);
  }
}